/*
 Typography style
*/

h1.title {
  font-size: 3.125em;
  font-weight: 400;
  margin-bottom: .8em;
  text-transform: uppercase;
}

h2.title {
  font-size: 45px;
  font-weight: 400;
}

.sub-title {
  font-size: 1.5em;
  line-height: 29px;
}

.section-receipt {

  .list {

    .list-item {

      span {
        color: #686868;
        font-size: 1.125em;
        font-weight: 500;
        font-family: $font-secondary;
      }
    }
  }

  h2 {
    margin-bottom: 1.111em;
    color: #65bc1f;
  }

  p {
    color: #636363;
    font-family: $font-secondary;
    font-size: 1.125em;
    font-weight: 300;
  }
}

.section-how-it-work {

  h2 {
    color: $color-white;
    margin-bottom: 40px;
  }

  & > .container {
    
    & > p {

      margin-bottom: 65px;
      font-size: 18px;
      font-weight: 300;
    }
  }

  p {
    color: $color-white;
    font-family: $font-secondary;
  }

  span {
    
    color: $color-white;
  }
}

.fast-credit-info {

  margin-bottom: 135px;

  h2 {
    color: $color-green;
    text-align: center;
    margin-bottom: 40px;
  }

  .sub-title {
    margin-bottom: 50px;
    color: #636363;
    font-family: $font-secondary;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
  }
}

.service-help-info {

  h2 {
    color: $color-green;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 25px;
    color: #636363;
    font-size: 16px;
    font-weight: 300;

    strong {
      
      font-weight: 700;
    }

    &:last-child {

      color: #535353;
    }
  }

  ul {

    margin-bottom: 30px;
    padding-left: 18px;

    li {

      &:before {
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin: 0px 15px 2px 0;
        background: $color-green;
        content: '';
      }

      &:not(:last-child) {

        margin-bottom: 15px;
      }
    } 
  }
}
