/*
 Typography style
*/

h1.title {
  font-size: 3.125em;
  font-weight: 400;
  margin-bottom: .8em;
  text-transform: uppercase;
}

h2.title {
  font-size: 2.813em;
  font-weight: 400;
}

h3.title {
  font-size: 1.125em;
  font-weight: 700;
}

.sub-title {
  font-size: 1.5em;
  line-height: 29px;
}

.section-receipt {

  h2 {
    margin-bottom: 1.111em;
    color: #65bc1f;
  }

  p {
    color: #636363;
    font-family: $font-secondary;
    font-size: 1.125em;
    font-weight: 300;
  }
}

.section-how-it-work {

  h2 {
    color: $color-white;
    margin-bottom: 2.5em;
  }

  & > .container {
    
    & > p {

      margin-bottom: 4.063em;
      font-size: 1.125em;
      font-weight: 300;
    }
  }

  p {
    color: $color-white;
    font-family: $font-secondary;
  }

  span {
    
    color: $color-white;
  }
}

.fast-credit-info {

  margin-bottom: 8.438em;

  h2 {
    color: $color-green;
    text-align: center;
    margin-bottom: .889em;
  }

  .sub-title {
    margin-bottom: 2.5em;
    color: #636363;
    font-family: $font-secondary;
    text-align: center;
    font-size: 1.25em;
    font-weight: 300;
  }
}

.service-help-info {

  h2 {
    color: $color-green;
    margin-bottom: .889em;
  }

  p {
    margin-bottom: 1.563em;
    color: #636363;
    font-size: 1em;
    font-weight: 300;

    strong {
      
      font-weight: 700;
    }

    &:last-child {

      color: #535353;
    }
  }

  ul {

    margin-bottom: 1.875em;
    padding-left: 1.125em;

    li {

      &:before {
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin: 0 .938em .125em 0;
        background: $color-green;
        content: '';
      }

      &:not(:last-child) {

        margin-bottom: .938em;
      }
    } 
  }
}

.footer {

  .footer-main {

    h3 {
      color: #fffefe;
      margin-bottom: 1em;
    }

    p {
      color: #d8ffb8;
      font-size: .75em;

      &:not(:last-child) {

        margin-bottom: 1.5em;
      }
    }
  }

  .footer-aside {

    .contacts {
      margin-bottom: 1.938em;

      a {
        display: block;
        color: #fff;
        font-size: .875em;

        &:first-child {

          font-size: 1.25em;
          font-weight: 700;
        }
      }
    }

    .working-hours {

      span {
        display: block;
        color: #d8ffb8;
        font-size: .875em;

        &:first-child {

          font-size: 1em;
          font-weight: 700;
        }
      }
    }
  }
}