/*
 Buttons style
*/

.btn-action {
  padding: .692em 2.346em;
  box-shadow: 3px 5px 9px rgba(31, 31, 31, .25);
  border-radius: 32px;
  background-color: #d554ec;
  color: #fff;
  font-size: 1.625em;
  transition: 0.3s;

  &:hover {
    background-color: #e760ff;
  }

  @include breakpoint($mobile-p) {
    width: 100%;
    padding: .692em 1.346em;
    font-size: 1.25em;
  }
}

.btn-sms {
  position: absolute;
  top: 0;
  right: 1px;

  padding: 4px 10px;

  line-height: 32px;

  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;

  box-shadow: 3px 5px 9px rgba(31, 31, 31, .25);

  background-color: #d554ec;
  color: #fff;
  font-size: 1.625em;
  transition: 0.3s;
}

.fast-credit-info {

  .btn-action {
    display: block;
    margin: 0 auto;

    @include breakpoint($mobile-p) {
      width: 100%;
      font-size: 1.25em;
    }
  }
}