/*
 Buttons style
*/

.btn-action {
  padding: .692em 2.346em;
  box-shadow: 3px 5px 9px rgba(31, 31, 31, .25);
  border-radius: 32px;
  background-color: #d554ec;
  color: #fff;
  font-size: 1.625em;
  transition: 0.3s;

  &:hover {
    background-color: #e760ff;
  }

  @include breakpoint($mobile-p) {
    width: 100%;
    font-size: 1.25em;
  }
}

.fast-credit-info {

  .btn-action {
    display: block;
    margin: 0 auto;

    @include breakpoint($mobile-p) {
      width: 100%;
      font-size: 1.25em;
    }
  }
}