/*
 Buttons style
*/

.btn-action {
  width: 326px;
  height: 65px;
  box-shadow: 3px 5px 9px rgba(31, 31, 31, .25);
  border-radius: 32px;
  background-color: #d554ec;
  color: #fff;
  font-size: 1.625em;
  transition: 0.3s;

  &:hover {
    background-color: #e760ff;
  }

  @include breakpoint($mobile-p) {
    
    width: 100%;
  }
}
.fast-credit-info {

  .btn-action {
    display: block;
    width: 413px;
    margin: 0 auto;
  }
}