.wrap-rc-slider {

  .rc-slider {
    position: relative;
    width: 100%;
    height: 14px;

    border-radius: 6px;
    touch-action: none;
    box-sizing: border-box;
  
    .rc-slider-rail {
      position: absolute;
      width: 100%;
      height: 14px;

      background-color: #e9e9e9;
      border-radius: 6px;
      box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.11);
    }

    .rc-slider-track {
      height: 14px;
      position: absolute;
      left: 0;

      border-radius: 6px;
      background-image: linear-gradient(to right, #f2abff 0%, #d554ec 100%);
    }

    .rc-slider-handle {
      position: absolute;
      width: 31px;
      height: 31px;
      margin-left: -7px;
      margin-top: -10px;

      cursor: pointer;
      border-radius: 50%;
      border: solid 8px #fff;
      box-shadow: 1px 1px 7px rgba(31, 31, 31, 0.48);
      background-color: #d554ec;
      touch-action: pan-x;
    }

    .rc-slider-step {
      position: absolute;
      width: 100%;
      height: 14px;
      background: transparent;
    }
  }
  .dot {
    position: absolute;
    top: 30px;
    color: #909090;
    font-size: 11px;

    &-left {

      left: 0;
    }

    &-right {
      
      right: 0;
    }
  }
}




  