/*
Lists style
*/

.list-receipt {

  .list-item {

    &:first-child {

      .icon {

        &:before {

          top: 58%;
        }
      }   
    }
  }
}

.list {

  margin-bottom: 4.063em;

  @include justify-content;

  .list-item {

    text-align: center;

    .icon {
      position: relative;
      margin-bottom: 1.5em;

      &:before {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        content: '';
      }
    }
  }
}

.list-receipt {

  .list-item {

    .icon {

      &:after {
        display: block;
        width: 35px;
        height: 35px;

        position: absolute;
        bottom: -12px;

        background-repeat: no-repeat;
        content: '';
      }
    }
  }
}

.section-how-it-work {

  .list-pay {

    .list-item {

      .icon {
        background: #68ce1a;
        border: 6px solid white;
        box-shadow: inset 0 5px 5px rgba(24, 24, 24, 0.17);
      }

      span {
        display: inline-block;
        min-width: 310px;
        font-size: 22px;
        font-weight: 700;
      }
    }
  }

  .list-step {

    margin-bottom: 140px;

    .list-item {

      .icon {
        background: #68ce1a;
        box-shadow: inset 0 5px 5px rgba(24, 24, 24, 0.17);
        border: 6px solid white;

        &:after {
          display: block;
          position: absolute;
          top: -10px;
          right: -7px;

          width: 39px;
          height: 39px;

          border-radius: 50%;
          box-shadow: 0 0 10px 1px rgba(36, 36, 36, 0.56);
          border: 3px solid rgba(255, 255, 255, 0.91);
          background-color: #e760ff;

          font-style: normal;
          color: #f4ffed;
          font-size: 24px;
          font-weight: 700;
        }
      }

      span {
        display: inline-block;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      p {
        font-weight: 300;
        max-width: 310px;
      }
    }
  }
}