/*
Footer style
*/

.footer {

  .footer-top {
    padding: 2.813em 0 2.5em 0;
    background: #65bc1f;

    @include breakpoint($tablet-laptop-sm) {

      padding: 2.813em 3.125em 2.5em 3.125em;
    }

    @include breakpoint($mobile) {

      padding: 2.813em 1.875em 2.5em 1.875em;
    }

    .footer-main {
      @include span(10 of 12 inside no-gutter);
      padding-right: 8.625em;

      @include breakpoint($mobile-p) {
        width: 100%;
        padding-right: 0;
        padding-bottom: 1.875em;
      }

      @include breakpoint($mobile-l) {
        width: 70%;
        padding-right: 4.375em;
      }

      @include breakpoint($iphone5-l) {
        width: 65%;
        padding-right: 3.125em;
      }

      @include breakpoint($tablet-p) {
        width: 70%;
        padding-right: 4.375em;
      }

      @include breakpoint($tablet-l) {
        width: 78%;
        padding-right: 5em;
      }
    }

    .footer-aside {
      
      @include span(2 of 12 inside no-gutter);

      @include breakpoint($mobile-p) {

        width: 100%;
      }

      @include breakpoint($mobile-l) {

        width: 30%;
      }

      @include breakpoint($iphone5-l) {

        width: 35%;
      }

      @include breakpoint($tablet-p) {

        width: 30%;
      }

      @include breakpoint($tablet-l) {

        width: 22%;
      }
    }
  }

  .footer-bottom {
    padding: 1.563em 0;
    background: #52ad0a;

    @include breakpoint($mobile) {
      
      padding: 1.563em 1.875em;
    }

    @include breakpoint($tablet-laptop-sm) {

      padding: 1.563em 3.125em;
    }

    .icon,
    .adress {
      display: inline-block;
      vertical-align: middle;
    }
    
    .icon {
      
      margin-right: .938em;
    }
  
    .adress {
      display: inline-block;
      vertical-align: middle;
  
      span {
        display: block;
        color: #fff;
        font-size: .875em;

        @include breakpoint($iphone5-p) {

          font-size: .688em;
        }
  
        &:first-child {
          font-size: 1em;
          font-weight: 700;
        }
      }
    }
  }
}

