body {
    overflow: hidden;
    height: 100%;
  
    transition: opacity .2s ease;

    color: $color-primary;
    font: 16px $font-primary;

  }
  
  body[data-loaded="true"] {
    overflow: inherit;
    overflow-x: hidden;
    height: inherit;
    position: relative !important;
  
    opacity: 1;
    
    #preloader {
      display: none;
    }
  }

h1,h2,h3,h4,h5,h6{
  margin:0;
  font-weight:600;
}

p {
  margin:0;
}

.container {
  @include container;
  max-width: 75em;
  margin: 0 auto;
}

.section-main {
  background: $color-green;
  padding: 157px 0 192px 0;

  .overlay {
    width: 455px;
    margin: 0 0 65px 40px;
    color: $color-white;
  }
}

.section {

  padding: 7.813em 0;
}

.section-how-it-work {

  background: #65bc1f;
}

.wrap {

  position: relative;

  &:after {
    display: block;
    width: 100%;
    height: 174px;

    position: absolute;
    top: 208px;
    left: 0;
    right: 0;

    background-image: linear-gradient(to top, rgba(0, 181, 119, 0) 0%, #ffffff 100%);
    opacity: .24;
    z-index: 1;

    content: '';
    pointer-events: none;
  }

  & > .container {
    position: relative;

    &:before {
      display: block;
      width: 747px;
      height: 560px;
  
      position: absolute;
      top: -450px;
      right: -100px;
  
      background-image: url('images/illustration.png');
      background-repeat: no-repeat;
      z-index: 11;
  
      content: '';
      pointer-events: none;
    }
  }
}

.bordered {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    
    border-radius: 50%;
    border:7px solid white;
    background-color: #64bb1f;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 4px 13px rgba(31, 31, 31, 0.26);
    content: ''; 
}