body {
    overflow: hidden;
    height: 100%;
  
    transition: opacity .2s ease;

    color: $color-primary;
    font: 16px $font-primary;

  }
  
  body[data-loaded="true"] {
    overflow: inherit;
    overflow-x: hidden;
    height: inherit;
    position: relative !important;
  
    opacity: 1;
    
    #preloader {
      display: none;
    }
  }

h1,h2,h3,h4,h5,h6{
  margin:0;
  font-weight:600;
}

p {
  margin:0;
}

.container {
  @include container;
  max-width: 75em;
  margin: 0 auto;
}

.section-main {
  background: $color-green;
  padding: 9.813em 0 12em 0;

  @include breakpoint($mobile-p) {

    padding: 20px 0 40px 0;
  }

  @include breakpoint($mobile-l) {

    padding: 25px 0 50px 0;
  }

  .overlay {
    width: 455px;
    margin: 0 0 4.063em 2.5em;
    color: $color-white;

    @include breakpoint($mobile) {
      width: 100%;
      padding: 0 40px 0 40px;
      text-align: center;
      margin: 0 0 25px 0;
    }

    @include breakpoint($tablet-laptop-sm) {

      margin-left: 5.625em;
    }
  }
}

.section {

  padding: 7.813em 0;
}

.section-how-it-work {

  background: #65bc1f;
}

.wrap {

  position: relative;

  &:after {
    display: block;
    width: 100%;
    height: 174px;

    position: absolute;
    top: 208px;
    left: 0;
    right: 0;

    background-image: linear-gradient(to top, rgba(0, 181, 119, 0) 0%, #ffffff 100%);
    opacity: .24;
    z-index: 1;

    content: '';
    pointer-events: none;

    @include breakpoint($mobile) {
      display: none;
    }

    @include breakpoint($tablet-p) {
      top: 356px;
    }
  }

  & > .container {
    position: relative;

    &:before {
      display: block;
      width: 747px;
      height: 560px;
  
      position: absolute;
      top: -450px;
      right: -100px;
  
      background-image: url('images/illustration.png');
      background-repeat: no-repeat;
      z-index: 11;
  
      content: '';
      pointer-events: none;

      @include breakpoint($mobile) {
        display: none;
      }

      @include breakpoint($tablet-laptop-sm) {
        top: -408px;
        right: -45px;
        width: 747px;
        height: 509px;
        background-image: url('images/illustration-tablet.png');
      }
    }
  }
}
