/*
 Forms style
*/

.form-control {
  padding-left: .714em;

  border-radius: 19px;
  border-width: 2px;
  border-style: solid;
  border-color: #cccccc #dadada #e8e8e8;

  background-color: #ffffff;
  color: #636363;
  font-size: 1.750em;
  transition: .3s;

  &:focus {
    box-shadow: 0 0 13px rgba(213, 84, 236, 0.25);
    border-color: #e49ff1 #eeb3f8 #f6c3ff;
  }

  &:active {
    box-shadow: 0 0 13px rgba(213, 84, 236, 0.25);
    border-color: #e49ff1 #eeb3f8 #f6c3ff;
  }
}

.register {
  position: relative;
  z-index: 10;
  display: none;

  .credit-info {
    padding: 1.25em 2.5em;

    box-shadow: 1px 2px 5px rgba(6, 6, 6, 0.08);
    border-radius: 30px 30px 0 0;
    background-color: #f9f9f9;

    @include clearfix;

    .total-wrap {

      @include span(6.75 of 12 inside no-gutter);
    }

    .time-receipt {
      @include span(5.25 of 12 inside no-gutter);

      padding: 0 3.563em 0 0;
      line-height: 34px;
      text-align: right;

      span {

        &:nth-of-type(1) {
          margin-right: 1.25em;
          color: #bbbbbb;
          font-size: 1.25em;
        }

        &:nth-of-type(2) {
          color: #bbbbbb;
          font-size: 2.063em;
        }
      }
    }

    .form-group {
      display: inline-block;

      &:nth-of-type(1) {
        margin-right: 2.6em; 
      }

      .form-label {
        display: inline-block;
        margin-right: 1.6em;

        color: #636363;
        font-size: 1.25em;
        vertical-align: middle;
      }

      .input-group {
        display: inline-block;
        vertical-align: middle;
        position: relative;

        .form-control {

          width: 132px;
        }
      }

      .total-sum {

        .form-control {

          padding: .089em 1.607em .089em .714em;
        }

        &:after {
          display: block;
          position: absolute;
          top: 13px;
          left: 90px;

          color: #bbbaba;
          font-size: 1em;
          pointer-events: none;
          content: 'грн.';
        }
      }

      .total-term {

        .form-control{
          
          padding: .089em 2.679em .089em .714em;
        }

        &:after {
          display: block;
          position: absolute;
          top: 13px;
          left: 60px;

          color: #bbbaba;
          font-size: 1em;
          pointer-events: none;
          content: 'дней';
        }
      }
    }
  }

  .form-register {
    padding: 1.875em 2.5em;

    box-shadow: inset 1px 2px 5px rgba(6, 6, 6, 0.08);
    border-radius: 0 0 30px 30px;
    background-color: #ffffff;

    @include clearfix;

    .form-wrap {

      @include span(6.75 of 12 inside no-gutter);

      .half {
        display: inline-block;
        width: 46%;

        &-left {

          margin-right: 3.125em;
        }
      }

      .form-group {

        .form-control {
          width: 100%;
          padding: .35em 1em;
          color: #636363;
          font-size: 1.25em;
        }

        &:not(:last-child) {
          margin: 0 0 .938em 0;
        }
      }
    }
  }
}

.confirm {

  @include span(5.25 of 12 inside no-gutter);
  text-align: right;

  .checkbox-group {
    padding: .938em 0 0 0;
    margin: 0 0 1.85em 0;

    .register-checkbox {
      display: inline-block;
      width: 40px;
      height: 41px;
      
      border-radius: 50%;
      border-width: 2px;
      border-style: solid;
      border-color: #cccccc #dadada #e8e8e8;
      background-color: #ffffff;
      vertical-align: middle;

      &.active {
        background-image: url('images/icon-confirm.svg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 65%;
        border-color: #d554ec;
      }
    }

    p {
      display: inline-block;
      width: 287px;
      padding-left: 1.25em;

      color: #bbbbbb;
      font-size: .938em;
      text-align: left;
      vertical-align: middle;


      a {
        color: #d554ec;
        text-decoration: underline;
      }
    }
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbbbbb;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bbbbbb;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bbbbbb;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bbbbbb;
}