/*
 Calculator style
*/

.calc {

  position: relative;
  z-index: 10;

  @include breakpoint($mobile) {
    padding: 0 10px;
  }

  @include breakpoint($tablet-laptop-sm) {
    padding: 0 50px;
  }

  .calc-main {
    position: relative;
    padding: 2.5em;

    border-radius: 30px 30px 0 0;
    background-color: #ffffff;

    z-index: 10;

    @include clearfix;

    @include breakpoint($mobile-p) {

      padding: 2.5em 1.5em;
    }

    .calc-content {

      @include span(6.75 of 12 inside no-gutter);

      @include breakpoint($mobile) {
        width: 100%;
        float: none;
      }

      @include breakpoint($tablet-p) {
        width: 100%;
        float: none;
      }
    }

    .calc-aside {
      text-align: right;
      z-index: 20;
      
      @include span(5.25 of 12 inside no-gutter);

      @include breakpoint($mobile) {
        width: 100%;
        float: none;
      }

      @include breakpoint($mobile-p) {
        margin-top: 50px;
      }

      @include breakpoint($mobile-l) {
        text-align: center;
        margin-top: 40px; 
      }

      @include breakpoint($tablet-p) {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 40px; 
      }

      .btn-action {
        margin-bottom: 1em;

        @include breakpoint($mobile-l) {
          display: block;
          margin: 0 auto;
        }

        @include breakpoint($tablet-p) {
          display: block;
          margin: 0 auto;
        }
      }

      p {
        width: 340px;
        padding: 0 .938em;
        float: right;

        color: #bbb;
        font-size: .875em;
        line-height: 18px;

        @include breakpoint($mobile) {
          width: 100%;
          float: none;
        }

        @include breakpoint($mobile-p) {
          text-align: center;
        }

        @include breakpoint($mobile-l) {
          display: block;
          margin: 20px 0 0 0;
          padding: 0;
        }

        @include breakpoint($tablet-p) {
          display: block;
          width: 100%;
          margin: 20px 0 0 0;
          padding: 0;
          float: none;
        }
      }
    }
  }

  .calc-bottom {
    padding: 1.688em 3.438em 1.688em 2.688em;

    box-shadow: inset 1px 2px 5px rgba(6, 6, 6, 0.08);
    border-radius: 0 0 30px 30px;
    background-color: #f9f9f9;

    z-index: 10;

    @include clearfix;

    @include breakpoint($mobile-p) {
      padding: 20px;
    }

    .sum-return {

      float:left;

      @include breakpoint($mobile) {
        float: none;
        text-align: center;
      }

      span {

        &:nth-of-type(1) {
          color: #a6a6a6;
          font-size: 1.25em;
        }

        &:nth-of-type(2) {
          color: #636363;
          font-size: 2.063em;
          padding: 0 0 0 .625em;
        }
      }
    }

    .text-percent {
      float: right;

      @include justify-content;

      @include valign-center;


      @include breakpoint($mobile) {
        float: none;
        margin: 10px auto 0 auto;
      }

      @include breakpoint($mobile-p) {
        width: 280px;
      }

      @include breakpoint($mobile-l) {
        width: 290px;
      }

      p {
        width: 265px;
        padding-left: .938em;

        color: #bbbbbb;
        font-size: .875em;
        vertical-align: middle;
      }
    }
  }


  .form-group {
    display: table;

    @include clearfix;

    @include breakpoint($mobile) {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 1.875em;

      @include breakpoint($mobile-p) {
        margin-bottom: 2.875em;
      }
    }

    .wrap-label,
    .wrap-rc-slider,
    .input-group {
      display: table-cell;
      position: relative;
      vertical-align: middle;
    }
  
    .wrap-label {
      width: 20%;

      @include breakpoint($mobile) {
        display: block;
        width: 40%;
        float: left;
      }
  
      .form-label {
        color: #636363;
        font-size: 1.250em;
      }
    }
  
    .wrap-rc-slider {
      width: 60%;

      @include breakpoint($mobile) {
        display: block;
        width: 100%;
        float: left;
        margin-top: 20px;
      }
    }
  
    .input-group {
      width: 20%;
      padding-left: 2.188em;

      @include breakpoint($mobile) {
        display: block;
        width: 60%;
        padding-left: 0;
        float: right;
        text-align: right;
      }
  
      .form-control {
        width: 138px;
        padding-right: 1.786em;
      }
    }
  
    .credit-sum {

      .input-wrap {
        position: relative;
        display: inline-block;
              
        &:after {
          display: block;
          position: absolute;
          top: 13px;
          left: 90px;

          color: #bbbaba;
          font-size: 1em;
          pointer-events: none;
          content: 'грн.';
        }
      }
    }
  
    .credit-term {

      .input-wrap {
        position: relative;
        display: inline-block;

        &:after {
          display: block;
          position: absolute;
          top: 13px;
          left: 65px;
          
          color: #bbbaba;
          font-size: 1em;
          pointer-events: none;
          content: 'дней';
        }
      }

      .form-control {
  
        padding-right: 2.857em;
      } 
    }
  }
}
