/*
 Calculator style
*/

.calc {

  position: relative;
  z-index: 10;

  .calc-main {
    position: relative;
    padding: 2.5em;

    border-radius: 30px 30px 0 0;
    background-color: #ffffff;

    z-index: 10;

    @include clearfix;

    .calc-content {

      @include span(6.75 of 12 inside no-gutter);
    }

    .calc-aside {
      text-align: right;
      z-index: 20;
      
      @include span(5.25 of 12 inside no-gutter);

      .btn-action {
        margin-bottom: 1em;
      }

      p {
        width: 340px;
        padding: 0 .938em;
        float: right;

        color: #bbb;
        font-size: .875em;
        line-height: 18px;

      }
    }
  }

  .calc-bottom {
    padding: 1.688em 3.438em 1.688em 2.688em;

    box-shadow: inset 1px 2px 5px rgba(6, 6, 6, 0.08);
    border-radius: 0 0 30px 30px;
    background-color: #f9f9f9;

    z-index: 10;

    @include clearfix;

    .sum-return {

      float:left;

      span {

        &:nth-of-type(1) {
          color: #a6a6a6;
          font-size: 1.25em;
        }

        &:nth-of-type(2) {
          color: #636363;
          font-size: 2.063em;
          padding: 0 0 0 .625em;
        }
      }
    }

    .text-percent {
      display: table;
      float: right;
      
      .wrap-icon {
        display: table-cell;
        vertical-align: middle;
      }
      

      p {
        display: table-cell;
        width: 265px;
        padding-left: .938em;

        color: #bbbbbb;
        font-size: .875em;
        vertical-align: middle;
      }
    }
  }


  .form-group {
    display: table;

    &:not(:last-child) {
      margin-bottom: 1.875em;
    }

    .wrap-label,
    .wrap-rc-slider,
    .input-group {
      display: table-cell;
      position: relative;
      vertical-align: middle;
    }
  
    .wrap-label {
      width: 20%;
  
      .form-label {
        color: #636363;
        font-size: 1.250em;
      }
    }
  
    .wrap-rc-slider {
      width: 60%;
    }
  
    .input-group {
      width: 20%;
      padding-left: 2.188em;
  
      .form-control {
        width: 138px;
        padding-right: 1.786em;
      }
    }
  
    .credit-sum {
      
      &:after {
        display: block;
        position: absolute;
        top: 13px;
        left: 125px;

        color: #bbbaba;
        font-size: 1em;
        pointer-events: none;
        content: 'грн.';
      }
    }
  
    .credit-term {

      &:after {
        display: block;
        position: absolute;
        top: 13px;
        left: 95px;
        
        color: #bbbaba;
        font-size: 1em;
        pointer-events: none;
        content: 'дней';
      }
  
      .form-control {
  
        padding-right: 2.857em;
      } 
    }
  }
}
